@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c8c7f1;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 50vh;
  width: 100%;
}

header nav {
  width: 100%;
  animation: bg-ColorChange 10s infinite ease-in-out;
  background: linear-gradient(to right, #30127b, #2d8daa, #275891);
  height: 70px;
  padding: 0 8%;
  
}

header nav .brand {
  background: linear-gradient(to right, #30127b, #2d8daa, #275891);
  border-radius: 20px;
  height: 3rem;
  left: 50px;
}
header nav .brand .brand-img{
  margin: 0;
  padding-left: 10px;
}

header nav .brand a {
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 0%;
  text-decoration: none;
  margin-right: 20px;
}

header nav .brand a img {
  height: 60px;
  width: 90px;
  border-radius: 30px;
  
  
}

header nav .brand a h1 {
  color: #fff;
  font-weight: 800;
  font-size: 30px;


}

header nav .access {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header nav .access a {
  color: #fff;
  background: linear-gradient(to right, #30127b, #2d8daa, #275891);
  border: none;
  border-radius: 5px;
  font-weight: 600;

  padding: 5px 15px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

header nav .access a:hover {
  background: #30127b;
  color: #fff;
}

header .banner {
  background: linear-gradient(to right, #30127b, #2d8daa, #275891);
  width: 100%;
}

.guide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #30127b, #2d8daa, #275891);
  animation: bg-ColorChange 10s infinite ease-in-out;
  min-height: 50vh;
  width: 100%;
}

.guide .cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  background: transparent;
  border-radius: 20px;
  margin-top: 10px;
  min-height: 85%;
  padding: 25px;
  width: 90%;
  top: 2px;
}
.guide .cards-container .card .card-img{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rbga(0,0,0,0.50);
}
.guide .cards-container .card .card-img figure{
  
  height: 250px;
  width: 250px;
  overflow: hidden;
  cursor: grab;
}

.guide .cards-container .card .card-img figure img{
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.guide .cards-container .card .card-img figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5,103,123,0.8);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
/**/
.guide .cards-container .card .card-img figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}
/*Animación titulo de las card*/
.guide .cards-container .card .card-img figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
/* titulo dentro de las card.*/
.guide .cards-container .card .card-img figure .capa h3{
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
/*Descripción dentra de las card.*/
.guide .cards-container .card .card-img figure:hover > .capa p{
  color: #fff;
  font-size: 15px;
  line-height: 1.3;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

/*
.guide .cards-container .card {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #e6cf6bc7;
  border-radius: 15px;
  box-shadow: rgba(82, 82, 82, 0.6) 5px 5px 10px -3px;
  height: 100%;
  margin-bottom: 5px;
  padding: 10px;
  transition: all ease 0.2s;
  width: 100px;
}

.guide .cards-container .card .card-img {
  width: 100%;
  height: 100%;
}

.guide .cards-container .card .card-img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.guide .cards-container .card .card-body p {
  text-align: center;
  font-style: italic;
  color: #525252;
}
*/